# Iris Flower Classification

In [24]:
import pandas as pd

In [25]:
from sklearn.datasets import load_iris

In [26]:
data = load_iris()

In [27]:
training_data = data.data

In [28]:
columns = data.feature_names

In [29]:
training_data = pd.DataFrame(training_data)

In [30]:
training_data.columns = columns

In [31]:
training_data.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [32]:
data.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [33]:
training_data['target'] = data.target

In [34]:
training_data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

### Performing Machine Learning - KNN

In [35]:
from sklearn.neighbors import KNeighborsClassifier

In [36]:
output_data = training_data['target']

In [37]:
training_data = training_data[columns[:4]]
training_data.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
X, x_test, Y, y_test = train_test_split(training_data, 
                                        output_data, 
                                        test_size=0.2, 
                                        random_state = 42)

In [40]:
model = KNeighborsClassifier(n_neighbors=12)

In [41]:
model.fit(X, Y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=12, p=2,
                     weights='uniform')

In [42]:
prediction = model.predict(x_test)

In [43]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [44]:
confusion = confusion_matrix(prediction, y_test)
confusion

array([[10,  0,  0],
       [ 0,  9,  0],
       [ 0,  0, 11]], dtype=int64)

In [45]:
score = accuracy_score(prediction, y_test)
score

1.0

In [46]:
new_prediction = model.predict([[4.9,2.0,1.4,0.2]])
new_prediction

array([0])